#bord{
    width: 150px;
    padding: 11px;
    display: grid;
    gap: 9px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #b86200;
    border-radius: 4px;
}
.letter{
border-radius: 9%;
border: #000000 3px solid;
border: none;
border-radius: 4px;
box-shadow: 0 3px #181818;

}
body{
background-image: url("https://m.media-amazon.com/images/I/817Vwv-cwtL.jpg");
background-repeat: no-repeat;
background-size: cover;
}
.btn{
   padding: 5px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #947100;
  }
  
  .btn:hover {background-color: #4b3700}
  
  .btn:active {
    transform: translateY(4px);
}

